<div>
  <h3>All of the events should show below</h3>
  <button [routerLink]="['event/' + 0]" class="btn btn-success">
    Add new event
    <i class="fa fa-pencil"></i>
  </button>
  <table class="table">
    <thead>
      <tr>
        <th>Event</th>
        <th>Date</th>
        <th>Time</th>
        <th>Address</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let event of eventList | async">
        <td>{{event.name}}</td>
        <td>{{event.date}} </td>
        <td>{{event.time}}</td>
        <td>{{event.location.address}}, {{event.location.city}}, {{event.location.country}}</td>
        <td>
          <div class="btn-group">
            <button [routerLink]="['event/' + event.id]" class="btn btn-info">
              <i class="fa fa-pencil"></i>
            </button>
            <button (click)="onDelete(event)" class="btn btn-danger">
              <i class="fa fa-trash"></i>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

</div>


<!-- Esemény törlése.
> A listázó komponensben legyen minden sorban egy gomb a kék mellett, ami 
kattintásra meghív egy metódust a hozzá tartozó osztályban. 
Ez a metódus pedig meghívja az EventService remove metódusát az kattintott sor 
eseményének az id -jével. -->